/* Write your CSS code here */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-image {
  height: 150px;
  width: 150px;
}
