* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your CSS code here */

.app-container {
  margin: 20px;
  border: 3px solid #6d396b;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  border-radius: 10px;
  margin-top: 40px;
}

.nav-container {
}

.nav-list-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  margin: 0px;
  margin-top: 6px;
}

.nav-item {
  font-size: 14px;
  font-weight: bold;
  color: #12022f;
  font-family: Roboto;
}

.wave-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave-image {
  height: 24px;
  margin: 6px;
  /* padding: 2px; */
}
